---
layout: default-content-page
title: Approach
key: approach
---

<!-- Start main content -->
<div class="container main-content clearfix">
    <div class="page-columns">
        <!-- section 1/2 Column -->
        {% for item in site.data.approach.items %}
        <div class="eight columns bottom-4">
                <h3 class="title">{{ item.title }}</h3>
                <p>
                    {{ item.content }}
                </p>
            </div>
        {% endfor %}
        <div class="sixteen columns bottom-3">
            <div class="welcome">
                <p>
                    {{ site.data.approach.strategy.title }}
                </p>
            </div>
        </div><!-- End column -->
        <!-- End  -->
        <!-- section 16 Columns -->
        {% for item in site.data.approach.strategy.items %}
            <div class="sixteen columns bottom-4">
                <h3 class="title">{{ item.title }}</h3>
                <p>
                    {{ item.content }}
                </p>
            </div>
        {% endfor %}
        <!-- End  -->
    </div><!-- End page-columns -->
</div><!-- <<< End Container >>> -->