---
layout: default-content-page
title: Use Case - Mobile and Web
key:
---
<!-- Start main content -->
<div class="container main-content clearfix">
    <!-- Start Sidebar Widgets -->
    <div class="five columns sidebar bottom-3">
        <!-- Categories Widget -->
        <div class="widget categories">
            <h3 class="title bottom-1">Agile Delivery</h3><!-- Title Widget -->
            <ul class="arrow-list">
                {% for delivery in site.data.usercases.mobile_web.agile_delivery %}
                <li>{{ delivery }}</li>
                {% endfor %}
            </ul><!-- End arrow-list -->
        </div>
        <!-- End -->
        <!-- Categories Widget -->
        <div class="widget categories">
            <h3 class="title bottom-1">Team</h3><!-- Title Widget -->
            <ul class="arrow-list">
                {% for team in site.data.usercases.mobile_web.team %}
                <li>{{ team }}</li>
                {% endfor %}
            </ul><!-- End arrow-list -->
        </div>
        <!-- End -->
        <!-- Categories Widget -->
        <div class="widget categories">
            <h3 class="title bottom-1">Skills</h3><!-- Title Widget -->
            <ul class="arrow-list">
                {% for skill in site.data.usercases.mobile_web.skills %}
                <li>{{ skill }}</li>
                {% endfor %}
            </ul><!-- End arrow-list -->
        </div>
        <!-- End -->
    </div><!-- End Sidebar Widgets -->
    <!-- Start Posts -->
    <div class="eleven columns bottom-3">
        <!-- ==================== Single Post ==================== -->
        <div class="post single style-1">
            <h3 class="title bottom-1">{{ site.data.usercases.mobile_web.story.title }}</h3><!-- Title Post -->
            <div class="post-content">
                {{ site.data.usercases.mobile_web.story.content }}
            </div><!-- End post-content -->
        </div>
        <!-- ==================== End Single Post  ==================== -->
    </div><!-- End Posts -->
    <div class="clearfix"></div>
</div><!-- <<< End Container >>> -->