<footer>

    <div class="footer-top">
        <div class="container clearfix">

            <div class="one-third column widget">
                <a href="index.html">
                    <img src="images/white_logo.png" alt="{{ site.data.company.name }}" />
                </a>
            </div><!-- End Tweets Widget -->

            <div class="one-third column widget most-posts">
                <h3 class="title">About Us</h3>
                <p> {{ site.data.company.about_us }} </p>
            </div><!-- End News Widget -->

            <div class="one-third column widget">
                <h3 class="title">Contact Details</h3>
                <ul class="address-info">
                    <li> {{ site.data.company.contact_details.italy.address }} </li>
                </ul>
                <ul class="email-info">
                    <li> <a href="mailto:{{ site.data.company.contact_details.italy.email-info }}">{{ site.data.company.contact_details.italy.email-info }}</a> </li>
                </ul>
            </div><!-- End Subscribe Widget -->

        </div><!-- End container -->
    </div><!-- End footer-top -->

    <div class="footer-down">
        <div class="container clearfix">

            <div class="eight columns">
                <span class="copyright">© Copyright 2019 {{ site.data.company.name }}. All Rights Reserved. © <a href="credits.html">Icons</a> Credits.</span>
            </div><!-- End copyright -->

            <div class="eight columns">
                <di v class="social">
                    {% for social in site.data.company.social %}
                    <a href="{{ social.address }}" target="_blank"><i class="{{ social.icon }} s-18"></i></a>
                    {% endfor %}
            </div>
        </div><!-- End social icons -->

    </div><!-- End container -->
    </div><!-- End footer-top -->

</footer><!-- <<< End Footer >>> -->