<div class="top-bar">
    <div class="container clearfix">
        <div class="slidedown">

            <div class="eight columns">
                <div class="phone-mail">
                    <a href="mailto:{{ site.data.company.contact_details.italy.email-info }}"><i class="icon-envelope-alt"></i> Mail :
                        {{ site.data.company.contact_details.italy.email-info }}</a>
                </div><!-- End phone-mail -->
            </div>
            <div class="eight columns">
                <div class="social">
                    {% for social in site.data.company.social %}
                    <a href="{{ social.address }}" target="_blank"><i class="{{ social.icon }} s-18"></i></a>
                    {% endfor %}
                </div>
            </div><!-- End social-icons -->

        </div><!-- End slidedown -->
    </div><!-- End Container -->

</div><!-- End top-bar -->