<div class="top-bar">
    <div class="container clearfix">
        <div class="slidedown">

            <div class="eight columns">
                <div class="phone-mail">
                    <a href="info@nitroagility.com"><i class="icon-envelope-alt"></i> Mail :
                        info@nitroagility.com</a>
                </div><!-- End phone-mail -->
            </div>
            <div class="eight columns">
                <div class="social">
                    <a href="#"><i class="social_icon-linkedin s-18"></i></a>
                    <a href="#"><i class="social_icon-twitter s-18"></i></a>
                </div>
            </div><!-- End social-icons -->

        </div><!-- End slidedown -->
    </div><!-- End Container -->

</div><!-- End top-bar -->