<div class="main-header">
    <div class="container clearfix">

        <a href="#" class="down-button"><i class="icon-angle-down"></i></a><!-- this appear on small devices -->
        <div class="one-third column">
            <div class="logo">
                <a href="index">
                    <img src="images/logo.png" alt="{{ site.data.company.name }}" />
                </a>
            </div>
        </div><!-- End Logo -->

        <div class="two-thirds column">
            <nav id="menu" class="navigation" role="navigation">
                <a href="#">Show navigation</a><!-- this appear on small devices -->
                <ul id="nav">
                    <li {% if page.key == "home" %} class="active" {% endif %}><a href="index.html">Home</a></li>
                    <li {% if page.key == "services" %} class="active" {% endif %}><a href="services.html">Services</a></li>
                    <li {% if page.key == "approach" %} class="active" {% endif %}><a href="approach.html">Approach</a></li>
                    <li {% if page.key == "trainings" %} class="active" {% endif %}><a href="trainings.html">Trainings</a></li>
                    <li {% if page.key == "contacts" %} class="active" {% endif %}><a href="contacts.html">Contacts</a></li>
                </ul>
            </nav>
        </div><!-- End Menu -->

    </div><!-- End Container -->
</div><!-- End main-header -->